.magnetogramWrapper {
  position: relative;
  height: calc(100vh - 18rem);
  min-width: 100vw;
  overflow-x: auto;
  height: inherit;
  padding: 5rem;
}

.edgesD {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: inherit;
  top: 4rem;
  cursor: pointer;
}

.edgesS {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: inherit;
  top: 3.5rem;
  cursor: pointer;
}

.none {
  display: none;
}
